# validator moniker
MONIKER="cyberomanov"

# valoper
VALIDATOR_ADDRESS="pylovaloper1upvcsamhmf8r3c8sdhcftk3mz2jxvfm86pzj4y"

# project name for log
PROJECT="pylons-testnet"

# token name
TOKEN="bedrock"

# count of nulls
DENOM="1000000"

# path to bin
COSMOS="/root/go/bin/pylonsd"

# path to config folder
CONFIG="/root/.pylons/config/"

# link to explorer API, dm @cyberomanov if you don't know 'wtf I can find it'
CURL="https://pylons.api.explorers.guru/api/blocks?count=1"

# chat id for alarm messages with notification enabled
CHAT_ID_ALARM="-187"

# chat id for log messages
CHAT_ID_STATUS="-1703"

# bot token for send messages
BOT_TOKEN="228322:xxx-xxx_xxx"
