# validator moniker
MONIKER="cyberomanov"

# delegator
DELEGATOR_ADDRESS="pylo1upvcsamhmf8r3c8sdhcftk3mz2jxvfm8lf09wg"

# valoper
VALIDATOR_ADDRESS="pylovaloper1upvcsamhmf8r3c8sdhcftk3mz2jxvfm86pzj4y"

# project name for log
PROJECT="pylons-testnet"

# example: if max set of active validators is 200, you'll get an alarm when your validator is 191st, set 0 to disable
POSITION_ALARM="10"

# send alarm if validator has inactive status: "false" - send alarm, "true" - do not send (ignore inactive status)
IGNORE_INACTIVE_STATUS="false"

# token name
TOKEN="bedrock"

# count of nulls
DENOM="1000000"

# path to bin
COSMOS="/root/go/bin/pylonsd"

# path to config folder
CONFIG="/root/.pylons/config/"

# link to explorer API, go to curl.md and find the link for your case
CURL="https://pylons.api.explorers.guru/api/blocks?count=1"
