# validator's moniker
MONIKER="cyberomanov"

# delegator address
DELEGATOR_ADDRESS="pylo1upvcsamhmf8r3c8sdhcftk3mz2jxvfm8lf09wg"

# valoper address
VALIDATOR_ADDRESS="pylovaloper1upvcsamhmf8r3c8sdhcftk3mz2jxvfm86pzj4y"

# project name for log and alarm messages
PROJECT="pylons-t"

# example: if max set of active validators is 200, you'll get an alarm when your validator is 191st
# set 0 to disable
POSITION_ALARM="10"

# ignore or not to ignore when validator has inactive status
# IGNORE_INACTIVE_STATUS="false" will send an alarm when validator is inactive
# IGNORE_INACTIVE_STATUS="true" will not send an alarm when validator is inactive
IGNORE_INACTIVE_STATUS="false"

# token name
TOKEN="bedrock"

# count of nulls
DENOM="1000000"

# full path to bin
COSMOS="/root/go/bin/pylonsd"

# full path to config folder
CONFIG="/root/.pylons/config/"

# link to explorer API
# go to curl.md and find the link for your case
CURL="https://pylons.api.explorers.guru/api/blocks?count=1"

# chat_id for alarm messages with enabled notifications
CHAT_ID_ALARM="-187"

# chat_id for log messages
CHAT_ID_STATUS="-1703"

# bot_token for sending messages
BOT_TOKEN="228322:xxx-xxx_xxx"
