# mixnode identity
IDENTITY="7TWEw9qQxsc8w4WhPAX6zjZ8vuNBdtP21zUVN8K26RkD"

# moniker
MONIKER="cyberomanov"

# project note
PROJECT="nym-mainnet"

# if 'last hour uptime' is lower than X > alarm, 0 to disable
UPTIME="80"

# chat id for alarm messages with notification enabled
CHAT_ID_ALARM="-187"

# chat id for log messages
CHAT_ID_STATUS="-1703"

# bot token for send messages
BOT_TOKEN="228322:xxx-xxx_xxx"
